/* COMMONS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --sp-sidebar: #000000;
    --sp-main-primary: #141922;
    --sp-main-secondary: #080b12;
    --sp-main-bottom: #282828;
    --sp-text-grey: #a3a3a3;
    --sp-white: white;
    --sp-green: #adff2f;

}

/* END COMMONS */

/* DEBUG *

.debug .menu,
.account {
    background-color: red;
    margin: 1rem;
}

.debug .account {
    height: 100px;
}

.debug .menu {
    height: 400px;
}
*/

.card-image {
    position: relative
}

.play {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* END DEBUG */

/* UTILITY */
.d-inl {
    display: inline;
}

.d-flex {
    display: flex;
}

.col-12 {
    width: 100%;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.btn {
    padding: 0.4rem;
    color: var(--sp-white);
    background-color: var(--sp-main-secondary);
    border-radius: 25px;
    width: 190px;
    font-size: 12px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    margin-right: 0.4rem;
}

.a-items-c {
    align-items: center;
}

.py-1 {
    padding: 1rem 0.5rem;
}

.flx-end {
    justify-content: flex-end;
    align-items: center;
}

.p-left {
    padding-left: 0.5rem;
}

.w-9 {
    width: 9%;
}

.al-cen {
    align-items: center;
}

.txt-d-none {
    text-decoration: none;
}

.j-cont-cen {
    justify-content: center;
}

/* END UTILITY */


/*---------------------------------------------------------------------------------------------------*/
/* MAIN */


/*------------------------------------------------*/
/* sidebar */
.sidebar {
    width: 200px;
    height: calc(100vh - 70px);
    background-color: var(--sp-sidebar);
    color: var(--sp-white);
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 200px;
}

.logo>img {
    width: 145px;
    padding: 1rem;
}

.card-sidebar .al-cen>p {
    padding-left: 0.3rem;
}

.row-sidebar {
    flex-direction: column;
}

.card-sidebar>a {
    text-decoration: none;
    color: var(--sp-text-grey);
    padding: 0.1rem 1.2rem;
}

.card-sidebar a>img {
    width: 10%;
}

.card-sidebar a>p {
    font-size: 10px;
}

.row-sidebar>h5 {
    padding: 1.2rem;
    padding-bottom: 0;
}

.btn-side {
    background-color: var(--sp-text-grey);
    width: 30px;
    height: 30px;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0.2rem;

}

.row-sidebar .playlist>a {
    font-size: 10px;
    padding-top: 1rem;
}

.card-sidebar {
    margin-top: 0.6rem;
}

.account {
    width: 80%;
    margin-left: 0.8rem;
    margin-bottom: 0.2rem;
}

.account .download-now>a {
    color: var(--sp-text-grey);
    text-decoration: none;
    border-bottom: 1px solid var(--sp-text-grey);
    padding-bottom: 0.6rem;
    margin-top: 4rem;
}

.download {
    padding-left: 0.6rem;
    font-size: 10px;
}

.user-img {
    background-color: var(--sp-text-grey);
    border-radius: 50%;
    color: white;
    width: 19px;
    height: 19px;
    justify-content: center;
    align-items: start;
}

.user-img a>img {
    width: 14px;
}

.user {
    padding-top: 0.6rem;
}

.user a>h5 {
    font-size: 12px;
    padding-left: 0.6rem;
}

.user>a {
    text-decoration: none;
    color: var(--sp-white);
}

.sidebar-mobile {
    display: none;
    margin: 0.6rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-mobile>img {
    width: 30px;
    padding-top: 0.6rem;
}

.sidebar-mobile-bot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img>img {
    width: 14px;
}

.img-download>img {
    width: 20px;
}

.img-download {
    margin-bottom: 0.6rem;
}

.green-b {
    border-left: 2px solid var(--sp-green);
}


/* end sidebar */
/*------------------------------------------------*/


/* main part */

/*------------------------------------------------*/
/* upgrade */
.upgrade {
    height: 70px;
    background-color: var(--sp-main-secondary);
}

/* end upgrade */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* sec-menu */
.sec-menu {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 1rem;

}

.content .sec-menu>a {
    color: var(--sp-text-grey);
    text-decoration: none;
    padding: 0.7rem;
    font-size: 11px;
}

.green {
    border-bottom: 2px solid var(--sp-green);
}

/* end sec-menu */
/*------------------------------------------------*/


/*------------------------------------------------*/
/* content */
.row .col-2 .card-image>img {
    width: 100%;
}

.recently>h2,
.jhon>h2,
.popular>h2 {
    color: var(--sp-white);
    padding-left: 0.6rem;
    font-size: 30.5px;
    padding-top: 1rem;
}

.content {
    flex: 1;
    overflow: auto;
    height: calc(100% - 70px);
}

.content .row .col-2>h3 {
    color: var(--sp-white);
    text-align: center;
    font-size: 18px;
    padding-top: 0.5rem;
}

.content .row .col-2>h5 {
    color: var(--sp-text-grey);
    text-align: center;
    font-size: 12px;
    padding-top: 0.2rem;
}

.jhon>h3,
.popular>h3 {
    color: var(--sp-text-grey);
    font-size: 15.5px;
    padding-top: 0.2rem;
    padding-left: 0.6rem;
    padding-bottom: 1rem;

}

.popular .row .col-2 img {
    border-radius: 50%;
}

.popular .row .col-2 {
    padding-top: 1rem;
}

/* end content*/
/*-----------------------------------------------*/



.main-part {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--sp-main-primary);
}

.row {
    flex-wrap: wrap;
}

/* end main part */
/* ----------------------------------------------------------------------------------------------


/* END MAIN */
/*-----------------------------------------------------------------------------------------------------*/


/* footer */
.site-footer {
    height: 70px;
    background-color: var(--sp-main-bottom);
}

.left-footer {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.horror {
    margin-left: 0.5rem;
    height: 35px;
    width: 35px;
    object-fit: cover;
}

h6 {
    color: var(--sp-white);
}

.like {
    margin-left: 1.2rem;
}

.name {
    font-size: 10px;
    color: var(--sp-text-grey);
}

.song {
    margin: 0;
}

.like>a {
    margin-left: 0.4rem;
}

.center-footer {
    width: 50%;
    height: 50px;
}

.player {
    text-align: center;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

.player>a {
    margin: 1rem;
}

.reproduction {
    fill: #ffffff;
    font-size: 40px;
    padding: 0 1.5rem;
}

.bar {
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.timer {
    color: #ffffff;
    font-size: 10px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.right-footer {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-footer>a {
    padding: 0.3rem;
}

.bar-player {
    width: 100%;
    height: 3px;
    background-color: var(--sp-text-grey);
    border-radius: 20px;
    align-items: center;
}

.bar-song {
    width: 23%;
    background-color: var(--sp-white);
    height: 100%;
    border-radius: 20px;
}

.bar>a {
    width: 70%;
}

.volume {
    background-color: var(--sp-text-grey);
    border-radius: 20px;
    height: 3px;
    width: 100%;
    margin-right: 0.6rem;
    align-items: center;
}

.container-volume {
    width: 30%;
}

.control-volume {
    background-color: var(--sp-white);
    border-radius: 20px;
    height: 3px;
    width: 25%;
}

.ball {
    width: 11px;
    height: 11px;
    background-color: var(--sp-white);
    border-radius: 50%;
    display: none;
}

/* end footer */

/* hover effects */
/*main part effects*/
.btn:hover {
    width: 200px;
    padding: 0.6rem;
    font-size: 13px;
}

.content .sec-menu>a:hover {
    color: var(--sp-white);
}

.card-image:hover img {
    opacity: 0.3;
}

.card-image:hover .play {
    opacity: 1;
}

/*end main part effects*/

/*sidebar effects*/
.card-sidebar>a:hover {
    color: var(--sp-white);
}

.btn-side:hover {
    background-color: var(--sp-white);
}

.account .download-now>a:hover {
    color: var(--sp-white);
}

.container-volume:hover .control-volume {
    background-color: var(--sp-green);
}

.container-volume:hover .ball {
    display: inline-block;
}

.bar-player:hover .bar-song {
    background-color: var(--sp-green);
}

.bar-player:hover .ball {
    display: inline-block;
}

.like>a:hover {
    color: white;
}

.txt-d-none:hover {
    text-decoration: underline;
    color: var(--sp-white);
}

.name:hover {
    color: var(--sp-white);
}

/* end hover effects */

/*-----------------------------------------------------------------------------------------------*/
/* MEDIA QUERY */

/* media laptop */
@media screen and (max-width: 980px) {
    .col-lap-3 {
        width: calc(100% / 12 * 3);
    }

    .sec-menu {
        width: 90%;
        line-height: 2.5rem;
    }
}


/* media tablet */
@media screen and (max-width: 780px) {
    .col-t-6 {
        width: calc(100% / 12 * 6);
    }

    .sec-menu {
        line-height: 2rem;
    }
}


/* media mobile */
@media screen and (max-width: 480px) {
    .col-m-6 {
        width: calc(100% / 12 *6);
    }

    .sidebar {
        flex: 0 0 50px;
    }

    .sec-menu {
        width: 100%;
    }

    .menu,
    .account {
        display: none;
    }

    .sidebar-mobile {
        display: inherit;
    }

    .user-img {
        width: 25px;
        height: 25px;
    }

    .user-img>img {
        width: 19px;
    }

    .left-footer {
        gap: 1px
    }

    .like {
        margin-left: 0;
    }

    .player>a {
        margin: 0.6rem;
    }


}

@media screen and (max-height: 400px) {
    .container-playlist {
        overflow: auto;
        height: 200px;
    }
}
