/* COMMONS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --sp-sidebar: #000000;
    --sp-main-primary: #141922;
    --sp-main-secondary: #080b12;
    --sp-main-bottom: #282828;
    --sp-text-grey: #a3a3a3;
    --sp-white: white;

}

/* END COMMONS */

/* DEBUG *

.debug .menu,
.account {
    background-color: red;
    margin: 1rem;
}

.debug .account {
    height: 100px;
}

.debug .menu {
    height: 400px;
}
*/

.card-image {
    position: relative
}

.play {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* END DEBUG */

/* UTILITY */
.d-inl {
    display: inline;
}

.d-flex {
    display: flex;
}

.col-12 {
    width: 100%;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.btn {
    padding: 0.4rem;
    color: var(--sp-white);
    background-color: var(--sp-main-secondary);
    border-radius: 25px;
    width: 190px;
    font-size: 12px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    margin-right: 0.4rem;
}

.a-items-c {
    align-items: center;
}

.py-1 {
    padding: 1rem 0.5rem;
}

.flx-end {
    justify-content: flex-end;
    align-items: center;
}

.p-left {
    padding-left: 0.5rem;
}

.w-9 {
    width: 9%;
}

/* END UTILITY */


/*---------------------------------------------------------------------------------------------------*/
/* MAIN */


/*------------------------------------------------*/
/* sidebar */
.sidebar {
    width: 200px;
    height: calc(100vh - 70px);
    background-color: var(--sp-sidebar);
    color: var(--sp-white);
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 200px;
}

.logo>img {
    width: 145px;
    padding: 1rem;
}

.row-sidebar {
    flex-direction: column;
}

.card-sidebar>a {
    text-decoration: none;
    color: var(--sp-text-grey);
    padding: 0.1rem 1.2rem;
}

.card-sidebar a>img {
    width: 10%;
}

.card-sidebar a>p {
    font-size: 10px;
}

.row-sidebar>h5 {
    padding: 1.2rem;
    padding-bottom: 0;
}

.btn-side {
    background-color: var(--sp-text-grey);
    width: 30px;
    height: 30px;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0.2rem;

}

.row-sidebar .playlist>a {
    font-size: 10px;
    padding-top: 1rem;
}

.card-sidebar {
    margin-top: 0.6rem;
}

.account {
    width: 80%;
    margin: auto;
}

.account .download-now>a {
    color: var(--sp-text-grey);
    text-decoration: none;
    border-bottom: 1px solid var(--sp-text-grey);
    padding-bottom: 0.6rem;
    margin-top: 4rem;
}

.download {
    padding-left: 0.6rem;
    font-size: 10px;
}

.user-img {
    background-color: var(--sp-text-grey);
    border-radius: 50%;
    color: white;
    width: 20px;
    position: relative;
}

.user-img>img {
    position: absolute;
}




/* end sidebar */
/*------------------------------------------------*/


/* main part */

/*------------------------------------------------*/
/* upgrade */
.upgrade {
    height: 70px;
    background-color: var(--sp-main-secondary);
}

/* end upgrade */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* sec-menu */
.sec-menu {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 1rem;

}

.content .sec-menu>a {
    color: var(--sp-text-grey);
    text-decoration: none;
    padding: 0.7rem;
    font-size: 11px;
}

/* end sec-menu */
/*------------------------------------------------*/


/*------------------------------------------------*/
/* content */
.row .col-2 .card-image>img {
    width: 100%;
}

.recently>h2,
.jhon>h2,
.popular>h2 {
    color: var(--sp-white);
    padding-left: 0.6rem;
    font-size: 30.5px;
    padding-top: 1rem;
}

.content {
    flex: 1;
    overflow: auto;
    height: calc(100% - 90px);
}

.content .row .col-2>h3 {
    color: var(--sp-white);
    text-align: center;
    font-size: 18px;
    padding-top: 0.5rem;
}

.content .row .col-2>h5 {
    color: var(--sp-text-grey);
    text-align: center;
    font-size: 12px;
    padding-top: 0.2rem;
}

.jhon>h3,
.popular>h3 {
    color: var(--sp-text-grey);
    font-size: 15.5px;
    padding-top: 0.2rem;
    padding-left: 0.6rem;
    padding-bottom: 1rem;

}

.popular .row .col-2 img {
    border-radius: 50%;
}

.popular .row .col-2 {
    padding-top: 1rem;
}

/* end content*/
/*-----------------------------------------------*/



.main-part {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--sp-main-primary);
}

.row {
    flex-wrap: wrap;
}

/* end main part */
/* ----------------------------------------------------------------------------------------------


/* END MAIN */
/*-----------------------------------------------------------------------------------------------------*/


/* footer */
#site-footer {
    height: 70px;
    background-color: var(--sp-main-bottom);
}


/* end footer */

/* hover effects */

.btn:hover {
    width: 200px;
    padding: 0.6rem;
    font-size: 13px;
}

.content .sec-menu>a:hover {
    color: var(--sp-white);
}

.card-image:hover img {
    opacity: 0.3;
}

.card-image:hover .play {
    opacity: 1;
}

/* end hover effects */

/*-----------------------------------------------------------------------------------------------*/
/* MEDIA QUERY */

/* media laptop */
@media screen and (max-width: 980px) {
    .col-lap-3 {
        width: calc(100% / 12 * 3);
    }

    .sec-menu {
        width: 90%;
        line-height: 2.5rem;
    }
}


/* media tablet */
@media screen and (max-width: 780px) {
    .col-t-6 {
        width: calc(100% / 12 * 6);
    }

    .sec-menu {
        line-height: 2rem;
    }
}


/* media mobile */
@media screen and (max-width: 480px) {
    .col-m-6 {
        width: calc(100% / 12 *6);
    }

    .sidebar {
        flex: 0 0 50px;
    }

    .sec-menu {
        width: 100%;
    }
}